/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");


.timer-container {
    background-image: url("./images/timer-blk-guy.jpeg");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 100%;
}

.timer {
    background-color: rgba(0, 0, 0, 0.60);
    min-height: 100vh;
    width: 100%;
}

.timerIconAndText {
    text-align: center;
    color: #f8f8f8;
    margin: auto;
}

.timer-icon {
    font-size: 8em;
    transform: rotateY(180deg);
}

.timerDaysCountdownContainer {
    display: flex;
}

.timerDaysCountdown {
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 1em;
    margin-left: 2em;
}

.dateNum {
    font-size: 6em;
    margin: 0.4em;
}

.dateWords {
    font-size: 1.1em;
    margin: 0.4em;
}

.mainText {
    white-space: nowrap;
}